* {
    box-sizing: border-box;
}
@media screen and (min-width:360px) {
    body {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #444;
        text-align: center;
        line-height: 1.5;
    }
    .landing {
        position: relative;
    }
    #background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
    }
    nav {
        color: white;
        padding: 1% 0;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: auto;
    }
    li {
        display: inline;
        justify-items: auto;
        padding-left: 10%;
        padding-right: 10%;
    }
    section {
        padding: 10px;
    }
    .landing {
        padding-top: 60px;
    }
    .prolst {
        margin-top: 0;
        margin-left:auto;
        margin-right: auto;
    }
    .bio {
        padding-top: 80px;
    }
    ul {
        padding: 0;
        list-style-type: none;
    }
    section:nth-child(even) {
        background-color: #8AA4C2;
      }
    .project-image {
        width: 80%;
    }
    .icon {
        width: 20%;
        padding: 10px;
    }
    .nav-icon {
        width: 8%;
    }
    
}